<!-- navbar to push content below --> 
<nav class="navbar"></nav><br/>
<!--custom nav bar-->
<div class="nav-bar grey-navbar">
    <!--simulate mobile taskbar-->
    <div id='dummy-taskbar'>
        <span id="dummy-time" class="pull-left">8:37PM</span>
        <span id="dummy-battery" class="pull-right">Singtel 3G 63%</span>
        <span class="pull-right glyphicon glyphicon-signal"></span>
    </div>
    <div class="option-btn pull-right" ng-click="changeUrl();">
        <div class="glyph text-center"><span class="glyphicon glyphicon-plus"></span></div>
    </div>
    <div id="monthweekday" class="pull-right">
        <div class="mwd active-mwd">M</div>
        <div class="mwd" onclick="window.location = 'index.html#/calendar-week'">W</div>
        <!--<div class="mwd">D</div>-->
    </div>
    
    <div id="display">
        <div id="month">{{displayMonth}}</div>
        <div id="dayyear">
            <div id="day">{{displayDay}}</div>
            <div id="year">{{displayYear}}</div>
        </div>
    </div>
    
</div>

<!--container to change content using angular-->
<div class="container-fluid remove-padding">
    <div class="row">
        <div class="col-days text-center" ng-repeat="d in calendarDays track by $index">{{d}}</div>
    </div> 
    <!--whole container to container the different months with overflow -->
    <div class="row scroll-x" id="monthScrollPanel">
        <!-- container that stretch to the length of x number of months -->
        <div class="months-bigContainer">
            
            <div class="perMonth-container">
                <div class="calcell text-center" ng-repeat="d in october track by $index" ng-click="selectDay($index);">
                    <div class="cal-date" month="{{d.month}}" ng-class="{'today-date': d.day==1 && d.month == displayMonth, 'active-day': d.day==1 && d.month == displayMonth, 'not-this-month': d.month != displayMonth}">{{d.day}}</div>
                    <div class="event-dot" ng-if="d.event != false"></div>
                </div>
            </div>
            <div class="perMonth-container">
                <div class="calcell text-center" ng-repeat="d in october track by $index" ng-click="selectDay($index);">
                    <div class="cal-date" month="{{d.month}}" ng-class="{'today-date': d.day==1 && d.month == '', 'active-day': d.day==1 && d.month == displayMonth, 'not-this-month': d.month != displayMonth}">{{d.day}}</div>
                    <div class="event-dot" ng-if="d.event != false"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END month container-->
    
    <div class="row agenda-container">
        <div class="agenda-header">Agenda</div>
        <div class="agenda-panel" onclick="window.location = 'index.html#/event-details'" ng-click="setEventDetails(a)" ng-repeat="a in agendaArr track by $index">{{a.title}}<span class="timing pull-right">{{a.from}} - {{a.to}}</span></div>
    </div>
</div>

<!--custom bottom menu-->
<div id="dummy-footer"></div>
<div class="bottom-menu">
    <div class="menu-tab text-center groupIcon" onclick="window.location = 'index.html#/group'"></div>
    <div class="menu-tab text-center" onclick="window.location = 'index.html#/events'"><span class="glyphicon glyphicon-home"></span></div>
    <div class="menu-tab text-center active-tab" onclick="window.location = 'index.html#/calendar'"><span class="glyphicon glyphicon-calendar"></span></div>
</div>