<!-- navbar to push content below --> 
<nav class="navbar"></nav><br/>
<!--custom nav bar-->
<div class="nav-bar">
    <!--simulate mobile taskbar-->
    <div id='dummy-taskbar'>
        <span id="dummy-time" class="pull-left">8:37PM</span>
        <span id="dummy-battery" class="pull-right">Singtel 3G 63%</span>
        <span class="pull-right glyphicon glyphicon-signal"></span>
    </div>
    <div class="option-btn pull-left" onclick="window.location = 'index.html#/group-meeting'">
        <div class="glyph text-center"><span class="glyphicon glyphicon-arrow-left"></span></div>
    </div>
    <div class='col-centered text-center textOver pageTitle'>Common Slots</div>
</div>

<!--container to change content using angular-->
<div class="container-fluid remove-padding">
    <div class="row fixed-days">
        <div class="timing-container" style="height: 23px; color:transparent; background-color: #F5F7FA;">1</div>
        <div class="col-days width-bytime  text-center" ng-repeat="d in calendarDays track by $index">{{d}}</div>
    </div> 
    <!--whole container to container the different months with overflow -->
    <div class="row scroll-x" id="weekScrollPanel">

        <!-- container that stretch to the length of x number of months -->
        <div class="weeks-bigContainer">

            <div class="perWeek-container" ng-repeat="w in numOfWeeksArr track by $index">
                <div class="timing-container border-bottom" style="height: 55px; color:transparent;">1</div>
                <!-- dates across the week -->
                <div class="calcell width-bytime border-bottom text-center" ng-repeat="d in numOfWeeksArr[$index] track by $index" ng-click="selectDay($index);">
                    <div class="cal-date" month="{{d.month}}" ng-class="{'today-date': d.day == 1 && d.month == displayMonth, 'not-this-month': d.month != displayMonth}">{{d.day}}</div>
                    <!--<div class="event-dot" ng-if="d.event != false"></div>-->
                </div>
                <!-- END dates across the week -->
                <div class="timeslots-container">
                    <!-- timing cells -->
                    <div class="timing-container">
                        <div class="time-cell" style="padding-left: 10px; padding-top: 2px;" ng-repeat="t in timeslots track by $index">{{t}}</div>
                    </div>
                    <!-- loop seven days -->
                    <div class="time-cell-container width-bytime text-center" ng-repeat="d in numOfWeeksArr[$index] track by $index">
                          
                            <!--if have events on the day-->
                            <div id="cts{{d.month+d.day}}" style="position: relative;">
                                    <!--{{setEventHeight(d.event,d.month + d.day);}}-->                                
                            </div>
                        <!-- loop out time per day -->
                        <div class="time-cell" ng-repeat="t in timeslots track by $index" ng-class="{'greyOutTime': d.month !=displayMonth}"></div>
                        <!-- END time loop -->
                        
                    </div>
                    <!-- END day loop -->
                </div>
            </div>
        </div>
    </div>
    {{setTimeHeightWithNoFooter();}}
    <!--END month container-->

</div>

<div class="modal fade" id="legendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body text-center">
                <!--<input type="text" class="custom-input" placeholder="Reason for pulling out">-->
                Please select green areas for the meeting start time
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default okayBtn" ng-click="commontimeOk()">OK</button>
            </div>
            
        </div>
    </div>
</div>