<!-- navbar to push content below --> 
<nav class="navbar"></nav><br/>
<!--custom nav bar-->
<div class="nav-bar">
    <!--simulate mobile taskbar-->
    <div id='dummy-taskbar'>
        <span id="dummy-time" class="pull-left">8:37PM</span>
        <span id="dummy-battery" class="pull-right">63%</span>
    </div>
    <div class="option-btn pull-left" ng-click="goToPage();">
        <div class="glyph text-center"><span class="glyphicon glyphicon-arrow-left"></span></div>
    </div>
    <div class="option-btn pull-right" ng-click="redirectPage(events);">
        <div class="glyph text-center"><span class="glyphicon glyphicon-edit"></span></div>
    </div>
    <div class='col-centered text-center textOver pageTitle' onclick="launchIntoFullscreen(document.documentElement);">{{events.title}}</div>
</div>
    
    
<div class="container-fluid">
    
    <div class="well well-lg">
        <span class="weekHeading">Event Details</span>
        <div>
            
            <div class="input-group">
                <span class="input-group-addon input-group-width-control">Time: </span>
                <input type="text" class="form-control" value={{events.from}}hr&nbsp;to&nbsp;{{events.to}}hr disabled="">
            </div>
            
            <div class="input-group">
                <span class="input-group-addon input-group-width-control">Date:  </span>
                <input type="text" class="form-control" value='{{events.day}} {{events.month}} {{events.year}}' disabled="">
            </div>
            
            <div class="input-group">
                <span class="input-group-addon input-group-width-control">Venue: </span>
                <input type="text" class="form-control" value={{events.venue}} disabled="">
            </div> 
                
        </div>        
    </div>
        
    <div class="well well-lg" style="height:100%" ng-if="attendees.length > 1">
        <span class="weekHeading">Attendees</span>
            
        <div class="item-panel" ng-repeat="attendee in attendees track by $index">
            <!--FIXME: ICON TO CHANGE ACCORDING TO STATUS-->
            <span class="pull-right custom-checkbox glyphicon glyphicon-ok checkedIcon" ng-class="{'attendee-unconfirm': $index == 1,'glyphicon-question-sign': $index == 1, 'attendee-confirmed': $index == 0, 'glyphicon-ok': $index == 0,'attendee-no': $index == 3,'glyphicon-remove': $index == 3}"></span>
            <span class="text-middle textCenter">{{attendee}}</span> 
        </div>    
    </div>   
        
    <div class="row">
        <!--FIXME: BUZZ METHOD TO CHANGE ACCORDINGLY-->
        <div id="eventDetailsBtnDiv" ng-if="attendees.length < 2">
            <button type="button" class="btn btn-danger btn-lg fullWidth" ng-click="deleteEvent(events)">Delete</button>
            <!--<button type="button" class="btn btn-default btn-lg btn-edit" id="editBtn" ng-click="redirectPage(events)">Edit</button>-->
        </div>
        
        <div id="eventDetailsBtnDiv" class="fullWidth" ng-if="attendees.length > 1">
            <button type="button" class="btn btn-warning btn-lg btn-edit" ng-click="buzz()">Buzz</button>
            <!--<button type="button" class="btn btn-default btn-lg btn-edit" id="editBtn" ng-click="redirectPage(events)">Edit</button>-->
            <button type="button" class="btn btn-danger btn-lg btn-pullout" ng-click="showGroupExit()">Pull Out</button>
        </div>
    </div>
</div>

<div class="modal fade" id="buzzModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                <!--<h4 class="modal-title text-center" id="myModalLabel">Pull out from this meeting</h4>-->
            </div>
            <div class="modal-body text-center">
                <!--<input type="text" class="custom-input" placeholder="Reason for pulling out">-->
                Buzz has been sent out successfully!
            </div>
            <div class="modal-footer"></div>
            
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exitGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                <h4 class="modal-title text-center" id="myModalLabel">Pull out from this meeting</h4>
            </div>
            <div class="modal-body text-center">
                <input type="text" class="custom-input" placeholder="Reason for pulling out">
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <button type="button" class="btn btn-default modal-btn btn-5" ng-click="hideGroupExit()">Cancel</button>
                    <button type="button" class="btn btn-danger modal-btn btn-5" ng-click="deleteMeeting()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function goBack() {
    window.history.back(-1);
}
</script>