<!-- navbar to push content below --> 
<nav class="navbar"></nav><br/>
<!--custom nav bar-->
<div class="nav-bar" id="navContainer">
    <!--simulate mobile taskbar-->
    <div id='dummy-taskbar'>
        <span id="dummy-time" class="pull-left">8:37PM</span>
        <span id="dummy-battery" class="pull-right">Singtel 3G 63%</span>
        <span class="pull-right glyphicon glyphicon-signal"></span>
    </div>
    <div class="option-btn pull-left" ng-click="showAppExit()">
        <div class="glyph text-center"><span class="glyphicon glyphicon-log-out"></span></div>
    </div>
    <div class="option-btn pull-right" ng-click="changeUrl();">
        <div class="glyph text-center"><span class="glyphicon glyphicon-plus"></span></div>
    </div>
    <div class='col-centered text-center textOver pageTitle logo' onclick="launchIntoFullscreen(document.documentElement);">Let's SMUeet</div>
</div>

<!--container to change content using angular-->
<div class="container-fluid">

    <!--<button type="button" class="btn btn-faint btn-block height50">Sort by date</button>-->

    <div class="grey-text text-center" ng-if="upcomingEvents.length > 0"><h6>Upcoming Events</h6></div>
    <div class="list-group noshadow" id="eventContainer" ng-repeat="eventArr in upcomingEvents track by $index">
        <a href="#" class="list-group-item">
            <span class="weekHeading">Week {{$index + 7}}</span>
        </a>
        <!--<a href="#" class="list-group-item no-padding height70" ng-repeat="e in upcomingEvents track by $index">-->
        <a href="index.html#/event-details" ng-click="setEventDetails(e)" class="list-group-item no-padding height70" ng-repeat="e in eventArr track by $index">
            <div class="pull-left type" ng-class="{'group': e.type == 'group', 'personal': e.type == 'personal'}"></div>
            <div class="pull-left group-item-container">
                <h4 class="list-group-item-heading list-group-item-heading2">{{e.title}}</h4>
                <p class="list-group-item-text small event-grey">
                    {{e.day}} {{e.month}} {{e.year}}, {{e.from}} - {{e.to}} <br>
                    {{e.venue}} 
                </p>
            </div>
            <div class="pull-right height50">
                <span class="badge" ng-if="e.type == 'group'">1 / {{e.attendees.length}}</span>
            </div>
        </a>
    </div>

    <div class="noUpcoming text-center" ng-if="upcomingEvents.length == 0">No upcoming events</div>

    <!--    <div class="grey-text"><h6>Group meeting</h6></div>
        <div class="list-group">
            <a href="#" class="list-group-item height70">
                <div class="pull-left">
                    <h4 class="list-group-item-heading">PMSB (G1)</h4>
                    <p class="list-group-item-text small">
                        Day, 00:00 - 00:00<br>
                        Venue not set
                    </p>
                </div>
                <div class="pull-right height50">
                    <span class="badge">1 / 4</span>
                </div>
            </a>
        </div>-->
</div>

<!--custom bottom menu-->
<div id="dummy-footer"></div>
<div class="bottom-menu">
    <div class="menu-tab text-center groupIcon" onclick="window.location = 'index.html#/group'"></div>
    <div class="menu-tab text-center active-tab" onclick="window.location = 'index.html#/events'"><span class="glyphicon glyphicon-home"></span></div>
    <div class="menu-tab text-center" onclick="window.location = 'index.html#/calendar'"><span class="glyphicon glyphicon-calendar"></span></div>
</div>

<!-- Modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                <h4 class="modal-title text-center" id="myModalLabel">New Meeting Created!</h4>
            </div>
            <div class="modal-body text-center modal-info" ng-if="decline == false">
                <div class="eventTitle">{{eventTitle}}</div>
                <div class="eventDateTiime">{{eventDate}}</div>
                <div class="eventDateTiime">{{eventTime}}</div>
            </div>
            <div class="modal-body text-center modal-info" ng-if="decline == true">
                <div class="eventDateTiime">{{eventTitle}}, {{eventDate}} {{eventTime}}</div>
                <input type="text" class="custom-input" placeholder="Reason for declining">
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <button type="button" class="btn btn-danger modal-btn1" ng-click="declineReason()" ng-if="decline == false">Decline</button>
                    <button type="button" class="btn btn-primary modal-btn2" ng-click="KIVEvent()" ng-if="decline == false">Decide Later</button>
                    <button type="button" class="btn btn-success modal-btn1" ng-click="acceptEvent()" ng-if="decline == false">Accept</button>
                    <button type="button" class="btn btn-default modal-btn" ng-click="declineReasonCancel()" ng-if="decline == true">Cancel</button>
                    <button type="button" class="btn btn-danger modal-btn" ng-click="declineEvent(calIndex)"  ng-if="decline == true">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exitAppModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                <h4 class="modal-title text-center" id="myModalLabel">Are you sure you want to logout?</h4>
            </div>
            <div class="modal-body text-center">
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <button type="button" class="btn btn-default modal-btn btn-5" ng-click="hideAppExit()">Cancel</button>
                    <button type="button" class="btn btn-danger modal-btn btn-5" onclick="window.location = 'index.html#/login'">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>