<link rel="stylesheet" href="css/explore.css">

<!--Page Title-->
<div id="navbar-template">
    <div id="page-title"> Explore Community</div>
</div>
<br/>

<!-- Seach bar-->
<div class="container-input" style="width:90%; margin-left: auto; margin-right: auto;">

    <div class="left-inner-addon" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-search" style="z-index: 50;position: absolute; padding-top: 1em; padding-left: 1em;"></i>
        <input ng-model="searchString" type="text" class="form-control input-lg" placeholder="    Click to enter your search criteria" disabled/>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="gridSystemModalLabel" style="font-size: 18px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <strong>Group Name </strong><br/>
                    <i class="fa fa-search" style="z-index: 50;position: absolute; padding-top: 1em; padding-left: 1em;"></i>
                    <tags-input ng-model="tags.language" placeholder="{{groupnameSearch}}"></tags-input>

                    <strong>Language </strong><br/>
                    <i class="fa fa-language" style="z-index: 50;position: absolute; padding-top: 1em; padding-left: 1em;"></i>
                    <tags-input ng-model="tags.language" placeholder="{{languageSearch}}"></tags-input>

                    <strong>Interest </strong><br/>
                    <i class="fa fa-heart" style="z-index: 50;position: absolute; padding-top: 1em; padding-left: 1em;"></i>
                    <tags-input ng-model="tags.interest" placeholder="{{interestSearch}}"></tags-input>

                    <strong>Group Size </strong>
                    <br/>
                    <span style="padding-right: 10px;">
                        <input type="checkbox" name='agegroup' id="below20">
                        <label for="below20" style="font-weight: normal;"><span></span> 0 - 10 </label>
                    </span>
                    <span style="padding-right: 10px;">
                        <input type="checkbox" name='agegroup' id="20to30">
                        <label for="20to30" style="font-weight: normal;"><span></span> 10 - 30 </label>
                    </span>
                    <span style="padding-right: 10px;">
                        <input type="checkbox" name='agegroup' id="above30">
                        <label for="above30" style="font-weight: normal;"><span></span> 30 -50  </label>
                    </span>

                    <span style="padding-right: 10px;">
                        <input type="checkbox" name='agegroup' id="above50">
                        <label for="above50" style="font-weight: normal;"><span></span> > 50  </label>
                    </span>
                    <br/>

                </div>
                <div class="modal-footer" onclick="location.href='#/exploreCommunitySearchResult';">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        Search </a>
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<br/>

<div class="container-fluid" style="width:95%; margin-left: auto; margin-right: auto;">
    
    <div class="col-xs-4" style="padding: 0.3em; display: table-cell; text-align: center">
        <img onclick='alert("This function is not fully implemented. Please click on Japanese Cook picture instead")' class="display-img" src="./img/anime.JPG"/>
        <span style="font-size: 16px; color: purple">Anime, 36</span>
        <span class = "additional-details">
            <strong>Japanese</strong><br/>
            Manga, Anime
        </span>
    </div>

    <div class="col-xs-4" style="padding: 0.3em; display: table-cell; text-align: center">
        <img onclick='alert("This function is not fully implemented. Please click on Japanese Cook picture instead")' class="display-img" src="./img/cosplay.JPG"/>
        <span style="font-size: 16px; color: purple">Cosplay, 20</span>
        <span class = "additional-details">
            <strong>Japanese</strong><br/>
            Anime, Fashion
        </span>
    </div>

    <div class="col-xs-4" style="padding: 0.3em; display: table-cell; text-align: center">
        <img onclick='alert("This function is not fully implemented. Please click on Japanese Cook picture instead")' class="display-img" src="./img/jpop.JPG"/>
        <span style="font-size: 16px; color: purple">J-pop, 21</span>
        <span class = "additional-details">
            <strong>Japanese</strong><br/>
            Music, Dance
        </span>
    </div>

    <div class="col-xs-4" style="padding: 0.3em; display: table-cell; text-align: center">
        <img onclick='alert("This function is not fully implemented. Please click on Japanese Cook picture instead")' class="display-img" src="./img/jdrama.JPG"/>
        <span style="font-size: 16px; color: purple">J-Drama, 12</span>
        <span class = "additional-details">
            <strong>Japanese</strong><br/>
            Movie, Drama
        </span>
    </div>

    <div class="col-xs-4" style="padding: 0.3em; display: table-cell; text-align: center">
        <img onclick='alert("This function is not fully implemented. Please click on Japanese Cook picture instead")' class="display-img" src="./img/frenchfood.JPG"/>
        <span style="font-size: 14px; color: purple">French Food, 3</span>
        <span class = "additional-details">
            <strong>French</strong><br/>
            Baguette, food
        </span>
    </div>


</div>
