<link rel="stylesheet" href="css/communityProfile.css">

<!--Page Title-->
<div id="navbar-template">
    <div id="page-title">
        <a href="#" onclick="window.history.go(-1); return false;">
            <i class=" fa fa-arrow-circle-left" style="color: white"></i>
        </a>
        Japanese Cooks
    </div>
</div>

<br/>

<div style="height: 45%; padding-left: 2.5em;">
    <div style="z-index: auto;">
        <img style="position: absolute; z-index: 5; width: 80%;" src="./img/japanesefood.jpg"/>
        <span style="position: absolute; z-index: 10; top:12%; right: 3%;">
            <a ng-href="#/japaneseCooks">
                <button class="btn btn-primary sign-in-button" style="font-weight:bold;background-color: #FEA900; width:100%;" onclick='alert("You have just selected to leave Japanese Cooks group")'>
                    LEAVE
                </button>
            </a>
        </span>
    </div>
    <br/>
</div>


<center>
    <div class="container-input" style="background-color: white;padding:1em; margin:0; margin-top: 12em; font-size: 18px"  ng-controller="japaneseCooksController">

        <div class="col-xs-6" style="padding: 0;">
            <button id="groupinfo-button" class="btn btn-primary sign-in-button" ng-click="showGroupInfo()">
                GROUP INFO
            </button>
        </div>
        <div class="col-xs-6" style="padding: 0;">
            <button id="member-button"class="btn btn-primary sign-in-button"  ng-click="showMembers()">
                MEMBERS (16)
            </button>
        </div>

        <br/>
        <div class="col-xs-6" style="padding: 0; margin-top: 0.5em;">
            <button id="upcoming-button" class="btn btn-primary sign-in-button" style="color: white; background-color: #FEA900; width:90%;" ng-click="showUpcomingEvents()">
                UPCOMING EVENTS
            </button>
        </div>

        <div class="col-xs-6" style="padding: 0; margin-top: 0.5em;">
            <button id="pastevents-button" class="btn btn-primary sign-in-button" ng-click="showPastEvents()">
                PAST EVENTS
            </button>
        </div>

        <div id="upcoming-events" style="border: 1px solid; margin-top: 3.5em; margin-bottom: 3.5em;">
            <table class="myCommunityTable">
                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.5em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/plus.png" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Create a new event
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 1em; text-align: left; padding-left: 0.5em;">
                        <input type="checkbox" class="read-more-state" id="post-1" />
                        <p class="read-more-wrap" style="margin-bottom: 0;">
                            <span style="font-weight: bold; font-size: 20px; display: block">
                                Traditional Food Hunt
                                <button class="btn" style="float: right; margin-right:1px;display: inline-block;padding-left:15px;background-color: #009898;" id="jointevent"
                                        ng-click="joinEvent()"> Participate </button>

                                <button class="btn" style="float: right; margin-right:1px;background-color: #3914AF;padding-left:15px;display: none" id="cancelJoining"
                                        ng-click="leaveEvent()"> Cancel </button>
                            </span>
                            <br/>
                            <br/><strong>Interests: </strong>Cooking, Food
                            <br/><strong>Date: </strong>13/11/2015
                            <br/><strong>Location: </strong>Central, Singapore
                            <span class="read-more-target">
                        <br/><strong>Organizer: </strong>Makuro Tomosoke
                        <br/><strong>Member: </strong>Gorou Arakaki, Aiko Hamada, Hikaru Ishibashi, Katsurou Ito, Kichiro Naito, Kokoro Muramoto, Makuro Tomosoke
                        <br/><strong>Activity description: </strong>Appreciate Japanese culture and traditional food. You will participant in sushi making, sashimi slicing activities. All activities are carried out in Japanese.<br/>
                        </span></p>
                        <label for="post-1" class="read-more-trigger"></label>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 1em; text-align: left; padding-left: 0.5em;">
                        <input type="checkbox" class="read-more-state" id="post-2" />
                        <p class="read-more-wrap" style="margin-bottom: 0;">
                            <span style="font-weight: bold; font-size: 20px; display: block">
                                Yummy Sushi
                                <button class="btn" style="float: right; margin-right:1px; display: inline-block;padding-left:15px;background-color: #009898;"
                                        onclick="alert('This function is not implemented yet')"> Participate </button>
                            </span>
                            <br/>
                            <br/><strong>Interests: </strong>Food, Cooking, Book
                            <br/><strong>Date: </strong>17/10/2015
                            <br/><strong>Location: </strong>Central, Singapore
                            <span class="read-more-target">
                        <br/><strong>Organizer: </strong>Sibusha Shibata
                        <br/><strong>Member: </strong>Hakura Ikeda, Sakurai Sato,Alan Tan, Adam Chua, Le Vu Dai, Hosana Onggo, Ivan Wongso
                        <br/><strong>Activity description: </strong>In Japanese culture, sushi is considered to be an art form because its appearance is just as important as how it tastes. Chefs from different regions of Japan roll it and arrange it on the plate according to their own styles, and they spend years learning the craft of sushi-making.<br/>
                        </span></p>
                        <label for="post-2" class="read-more-trigger"></label>
                    </td>
                </tr>

            </table>
        </div>

        <div id="past-events" style="display:none; border: 1px solid; margin-top: 3.5em; margin-bottom: 3.5em;">
            <table class="myCommunityTable">

                <tr>
                    <td style="padding-top: 1em; text-align: left; padding-left: 0.5em;">
                        <span style="font-weight: bold; font-size: 20px;"> Movie night </span>
                        <br/>
                        <br/><strong>Interests: </strong>Movie, Songs
                        <br/><strong>Date: </strong>13/11/2015
                        <br/><strong>Location: </strong>Central, Singapore
                        <br/><strong>Organizer: </strong>Aiko Hamada
                        <br/><strong>Member: </strong>Gorou Arakaki, Aiko Hamada, Hikaru Ishibashi, Katsurou Ito
                        <br/><strong>Activity description: </strong>Get to know each other better by watching the movie "Attack of titans" and discuss about the movie in teams.<br/>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 1em; text-align: left; padding-left: 0.5em;">
                        <span style="font-weight: bold; font-size: 20px;"> Bento Design </span>
                        <br/>
                        <br/><strong>Interests: </strong>Food, Design, Cooking
                        <br/><strong>Date: </strong>13/12/2015
                        <br/><strong>Organizer: </strong>Hakura Ikeda
                        <br/><strong>Member: </strong>Sibusha Shibata, Sakurai Sato,Alan Tan, Adam Chua, Le Vu Dai, Hosana Onggo, Ivan Wongso
                        <br/><strong>Activity description: </strong>Bento is a single-portion takeout or home-packed meal common in Japanese cuisine. A traditional bento holds rice, fish or meat, with pickled or cooked vegetables, usually in a box-shaped container.<br/>
                    </td>
                </tr>

            </table>
        </div>

        <div id="members" style="display:none; border: 1px solid; margin-top: 3.5em; margin-bottom: 3.5em;">
            <table class="myCommunityTable">
                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/timmygoh.jpg" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Timmy Goh Zy
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/makuro.jpg" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Maruko Tomosoke
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/user.png" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Gorou Arakaki
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/user.png" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Aiko Hamada
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/user.png" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Hakura Ikeda
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/user.png" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Hikaru Ishibashi
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/user.png" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Katsurou Ito
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/user.png" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Kichiro Naito
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/user.png" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Kokoro Muramoto
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/user.png" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Sibusha Shibata
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/user.png" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Sakurai Sato
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/user.png" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Alan Tan
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/user.png" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Adam Chua
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/user.png" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Le Vu Dai
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/user.png" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Hosana Onggo
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 0.2em; padding-bottom: 0.2em">
                        <div class="col-xs-4">
                            <a ng-href="#/createEvent">
                                <img src="img/user.png" style="max-width: 100%;vertical-align: middle; "/>
                            </a>
                        </div>

                        <div class="col-xs-8" class="community-content">
                            <br/>
                            Ivan Wongso
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div id="group-info" style="display:none; border: 1px solid; margin-top: 3.5em; margin-bottom: 3.5em;">
            <table class="myCommunityTable">

                <tr>
                    <td style="padding-top: 1em; text-align: left; padding-left: 0.5em;">
                        <br/><strong>Name: </strong>Japanese Cooks
                        <br/><strong>Location: </strong>Central, Singapore
                        <br/><strong>Language: </strong>Japanese
                        <br/><strong>Interest Tags: </strong>Cooking, Japanese food
                        <br/><strong>Group Description: </strong>Japanese food has become very popular outside Japan over the years.  One can find Japanese restaurants almost everywhere in the world. Our goal is to show how simple it is to make Japanese meals at home.  We create and test our recipes to be as easy as possible, yet as tasty and authentic as what we eat at home. The only rule we have is to speak only Japanese when you come.
                    </td>
                </tr>

            </table>
        </div>

    </div>
</center>