<link rel="stylesheet" href="css/signup.css">

<!--Page Title-->
<div id="navbar-template">
    <div id="page-title">
        <a ng-href="#/japaneseCooks" style="color: white;">
            <i class="fa fa-arrow-circle-left"></i>
        </a>
        Create a new Event
    </div>
</div>

<br/>

<div class="container-input" style="background-color: white;padding:1em; margin:0; font-size: 18px;">

    <div class="left-inner-addon">
        <i class="fa fa-users"></i>
        <input id="eventname" type="text" class="form-control input-lg" placeholder="Event name"/>
    </div>
    <br/>

    <div class="left-inner-addon">
        <i class="fa fa-heart" style="z-index: 100;"></i>
        <tags-input ng-model="tags"></tags-input>
    </div>
    <br/>

    <div class="left-inner-addon">
        <i class="fa fa-calendar"></i>
        <input ng-model="eventday" type="text" class="form-control input-lg" placeholder="Event day dd/mm/yyyy"/>
    </div>
    <br/>

    <div class="left-inner-addon">
        <i class="fa fa-quote-left"></i>
        <textarea rows="4" cols="50" id="about" class="form-control input-lg" style="padding-left: 1.8em;"
                  placeholder="About the event">Love 911 is a 2012 South Korean film about an unlikely romance between a dedicated firefighter with a painful past and a cold-hearted doctor who is solely focused on her career. Let’s watch and do a discussion in Korean afterwards.
        </textarea>
    </div>
    <br/>
    <br/>

    <a ng-href="#/kDramaCrazeCreateEvent">
        <button id="general-button" class="btn btn-primary sign-in-button" onclick="alert('Event successfully created')"> CREATE A NEW EVENT </button>
    </a>

    <br/><br/><br/><br/>

</div>