        
<!--simulate mobile taskbar-->
<div id='dummy-taskbar'>
    <span id="dummy-time" class="pull-left">8:37PM</span>
    <span id="dummy-battery" class="pull-right">Singtel 3G 63%</span>
    <span class="pull-right glyphicon glyphicon-signal"></span>
</div>



<div class="container-fluid full-height">

    <!--container to add content -->
    <div class="center-component">
        <img style="width: 100%;height:100px;" src="./img/ConnectWorldLogo.PNG">
        <br/><br/>
        <div class="loginError">{{errorMsg}}</div>
        <input type="text" ng-model="username" class="form-control remove-border sign-in-button" placeholder="Username">
        <input type="password" ng-model="password" class="form-control remove-border sign-in-button" placeholder="Password">
        <button style="display: block; width: 100%;" type="button" class="btn btn-primary sign-in-button" ng-click="login()">Sign In</button>
    </div>

    <div class="footer" style="bottom:0;padding:0;margin-top:10em">
        <img style="width: 100%" src="./img/loginback.PNG">

    </div>
</div>


