<div id="navbar-template">
    <div id="page-title">Profile</div>
</div>

<!--custom script-->
<script src="js/savannascript.js"></script>
<link href='http://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>

<div style="padding:0">
    <br/>
    <!--container to add content -->
    <div class="container-fluid" ng-controller="myProfileController">
        <div id="infoLayer">
            <div class="thumbnail">
                <div class="avarta">
                    <img src="./img/buddyProfilePic.png" alt="Profile Picture">

                    <div>
                        <!--a class="edit" href="./editMyProfile.html">Edit</a-->
                        <input type=button name=type class="edit" value="Edit"
                               onclick="setVisibility('infoLayer', 'formLayer');">
                    </div>
                    <!--p  ng-click="editProfile($scope)">Edit</p-->
                </div>
            </div>
            <p>

            <div class="biContainer thumbnail">
                <table class="gridtable">
                    <th colspan="2">Basic Information</th>
                    <tr>
                        <td>Gender</td>
                        <td>{{ basicInfo.gender}}</td>
                    </tr>
                    <tr>
                        <td>Birthday</td>
                        <td>{{basicInfo.birthday | date }}</td>
                    </tr>
                    <tr>
                        <td>Nationality</td>
                        <td>{{basicInfo.nationality}}</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>{{basicInfo.location}}</td>
                    </tr>
                </table>
            </div>
            </p>

            <p>

            <div class="biContainer thumbnail">
                <table class="gridtable centered">
                    <th colspan="2">Language</th>
                    <tr>
                        <td>Proficient In</td>
                        <td>{{ language.proficient}}</td>
                    </tr>
                    <tr>
                        <td>Interested In</td>
                        <td>{{language.interested}}</td>
                    </tr>
                </table>
            </div>


            <p>

            <div class="biContainer thumbnail">
                <table class="gridtable centered">
                    <th colspan="2">Interest Tags</th>

                    <tr>
                        <td colspan="2" style="font-weight:normal">

                    <span> ng-repeat="interestTag in interestTags">{{interestTag.tag}}<span
                            ng-if="!$last">, </span></span>
                        </td>
                    </tr>

                </table>
            </div>
            </p>

            <p>

            <div class="biContainer thumbnail">
                <table class="gridtable centered">
                    <th colspan="2">About Myself</th>
                    <tr>
                        <td colspan="2" style="font-weight:normal" class="pre-scrollable">
                            {{basicInfo.mySelf}}
                        </td>
                    </tr>

                </table>
            </div>
            </p>
        </div>
    </div>
    <!--button style="display: block; width: 100%;background-color:#FE7300" type="button" class="btn btn-primary sign-in-button" ng-click="login()">Sign In</button-->

    <br/>
    <br/>
    <br/>

</div>