<!-- navbar to push content below --> 
<nav class="navbar"></nav><br/>
<!--custom nav bar-->
<div class="nav-bar">
    <!--simulate mobile taskbar-->
    <div id='dummy-taskbar'>
        <span id="dummy-time" class="pull-left">8:37PM</span>
        <span id="dummy-battery" class="pull-right">63%</span>
    </div>
    <div class="option-btn pull-left" ng-click="goBack()">
        <div class="glyph text-center"><span class="glyphicon glyphicon-arrow-left"></span></div>
    </div>
    <div class="option-btn pull-right" ng-click="addPersonal();">
        <div class="glyph text-center"><span class="glyphicon glyphicon-ok"></span></div>
    </div>
    <div class='col-centered text-center textOver pageTitle' onclick="launchIntoFullscreen(document.documentElement);">Personal</div>
</div>

<!--container to change content using angular-->
<div class="container-fluid full-height" style="background-color: #ffffff;">

    <div class="item-group">
        <input type="text" class="custom-input" ng-model="eventTitle" placeholder="Event title" value={{events.title}}>
    </div>

    <div class="item-group">
        <div class="item-panel" ng-click="clickFrom('from');">
            <span class="pull-right"><i class="chevron"></i></span>
            <span class="pull-right"><span class="text-middle grey-text" id="eventFrom">{{events.day}} {{events.month}} {{events.year}}, {{events.from}}</span></span>
            <span class="text-middle">From</span>
        </div>
        <div class="item-panel" ng-click="clickFrom('to');">
            <span class="pull-right"><i class="chevron"></i></span>
            <span class="pull-right"><span class="text-middle grey-text" id="eventTo">{{events.day}} {{events.month}} {{events.year}}, {{events.to}}</span></span>
            <span class="text-middle">To</span>
        </div>
        <div class="item-panel" ng-click="clickRepeat();">
            <span class="pull-right"><i class="chevron"></i></span>
            <span class="pull-right"><span class="text-middle grey-text">{{repeat}}</span></span>
            <span class="text-middle">Repeat</span>
        </div>
        <div class="item-panel" ng-click="clickReminders();">
            <span class="pull-right"><i class="chevron"></i></span>
            <span class="pull-right"><span class="text-middle grey-text">{{reminder}}</span></span>
            <span class="text-middle">Reminders</span>
        </div>
    </div>
    <div class="item-group">
        <input type="text" class="custom-input" ng-model="eventVenue" placeholder="Venue" value='{{events.venue}}'>
    </div>
</div>

<!-- repeat dialog -->
<div class="dialog-container repeat" ng-click="clickCloseRepeat();">
    <div class="dialog-content">
        <div class="item-group">
            <div class="dialog-header text-center"><p>Repeat</p></div>
            <div class="item-panel">
                <span class="pull-left"><i class="chevron chevron-left chevron-active"></i></span>
                <span class="text-middle active-option" label="One-time event">One-time event</span>
            </div>
            <div class="item-panel">
                <span class="pull-left"><i class="chevron chevron-left"></i></span>
                <span class="text-middle" label="Daily">Daily</span>
            </div>
            <div class="item-panel">
                <span class="pull-left"><i class="chevron chevron-left"></i></span>
                <span class="text-middle" label="Weekly">Weekly</span>
            </div>
            <div class="item-panel">
                <span class="pull-left"><i class="chevron chevron-left"></i></span>
                <span class="text-middle" label="Monthly">Monthly</span>
            </div>
        </div>
    </div>
</div>

<!-- reminders dialog -->
<div class="dialog-container reminder" ng-click="clickCloseReminders();">
    <div class="dialog-content">
        <div class="item-group">
            <div class="dialog-header text-center"><p>Reminders</p></div>
            <div class="item-panel">
                <span class="pull-left"><i class="chevron chevron-left chevron-active"></i></span>
                <span class="text-middle active-option" label="None">No reminder</span>
            </div>
            <div class="item-panel">
                <span class="pull-left"><i class="chevron chevron-left"></i></span>
                <span class="text-middle" label="0 minutes">0 minutes</span>
            </div>
            <div class="item-panel">
                <span class="pull-left"><i class="chevron chevron-left"></i></span>
                <span class="text-middle" label="5 minutes">5 minutes</span>
            </div>
            <div class="item-panel">
                <span class="pull-left"><i class="chevron chevron-left"></i></span>
                <span class="text-middle" label="10 minutes">10 minutes</span>
            </div>
            <div class="item-panel">
                <span class="pull-left"><i class="chevron chevron-left"></i></span>
                <span class="text-middle" label="15 minutes">15 minutes</span>
            </div>
            <div class="item-panel">
                <span class="pull-left"><i class="chevron chevron-left"></i></span>
                <span class="text-middle" label="30 minutes">30 minutes</span>
            </div>
            <div class="item-panel">
                <span class="pull-left"><i class="chevron chevron-left"></i></span>
                <span class="text-middle" label="1 hour">1 hour</span>
            </div>
            <div class="item-panel">
                <span class="pull-left"><i class="chevron chevron-left"></i></span>
                <span class="text-middle" label="1 day">1 day</span>
            </div>
            <div class="item-panel">
                <span class="pull-left"><i class="chevron chevron-left"></i></span>
                <span class="text-middle" label="2 days">2 days</span>
            </div>
            <div class="item-panel">
                <span class="pull-left"><i class="chevron chevron-left"></i></span>
                <span class="text-middle" label="1 week">1 week</span>
            </div>
        </div>
    </div>
</div>

<!-- duration dialog -->
<div class="dialog-container duration" ng-click="clickCloseFrom();">
    <div class="dialog-content">
        <div class="item-group">
            <div class="dialog-header dialog-header-plus text-center">
                <p>Duration</p>
                <span class="scrollingDate">{{scrollingDate}}</span>
            </div>
            <div class="duration-panel">
                <div class="duration-slim-panel">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <div class="day-container duoScrollD">
                    <div class="hour-panel" ng-repeat="d in dayArr track by $index">{{d}}</div>
                </div>

                <!-- this div is use to control the scroll of the covered div -->
                <div class="day-container-ghost duoScrollD">
                    <div class="hour-panel" ng-repeat="d in dayArr track by $index">{{d}}</div>
                </div>

                <div class="hour-container hour-width duoScrollH">
                    <div class="hour-panel" ng-repeat="h in hourArr track by $index">{{h}}</div>
                </div>

                <!--this div is use to control the scroll of the covered div--> 
                <div class="hour-container-ghost-P hour-width duoScrollH">
                    <div class="hour-panel" ng-repeat="h in hourArr track by $index">{{h}}</div>
                </div>

                <div class="min-container hour-width duoScrollM">
                    <div class="hour-panel" ng-repeat="m in minArr track by $index">{{m}}</div>
                </div>

                <!--this div is use to control the scroll of the covered div--> 
                <div class="hour-container-ghost2 hour-width duoScrollM">
                    <div class="hour-panel" ng-repeat="m in minArr track by $index">{{m}}</div>
                </div>

                <!-- cover for fade off effect -->
                <div class="greybar"></div>
                <div class="greybar greybar2"></div>
                <div class="greybar greybar3"></div>
                <div class="greybar greybar2"></div>
                <div class="greybar lastGreyBar"></div>

                <div class="hLabelSpacer"></div>
                <div class="hLabel hLabelP">H</div>
                <div class="mLabel mLabelP">M</div>
                <!--divider line-->
                <div class="centerLine1"></div>
                <div class="centerLine2"></div>

            </div>
            <!-- END duration panel -->
            <div class="cancel">Cancel</div>
            <div class="ok">Ok</div>

        </div>
    </div>
</div>

<script>
//function goBack() {
//    window.history.go(-1);
//}
</script>